@import "variables";

@mixin navbar ($nav-bg-color, $shadow, $color) {
    background-color: $nav-bg-color;
    box-shadow: $shadow;
    color: $color;
}

@mixin hw($h) {
    max-height: $h;
    width: auto;
}

@mixin darkMultiplier ($w, $h) {
    height: calc($h / $darkModeMultiplier);
    width: calc($w / $darkModeMultiplier);
}

@mixin darkWMultiplier ($w) {
    width: calc($w / $darkModeMultiplier);
}

@mixin darkLMultiplier ($l) {
    left: calc($l / $darkModeMultiplier);
}

@mixin darkTMultiplier ($t) {
    top: calc($t / $darkModeMultiplier);
}