// BG COLOR OF THE WEBSITE
$site-bg-color: #F0F0F0;

// NAVBAR COLORS
$nav-bg-color: #3C486B;
$shadow: 0 0 10px 0 #000;
$color: #fff;

// BUTTONS IN NAVBAR COLORS
$btn-color1: #F9D949;
$btn-color2: #b9bf45;
$btn-focus: #000;

// THIRD COLOR OF THE PORTRAIT (1st is $nav-bg-color 2nd is $btn-color1)
$portrait-color: #C850C0;

$sub-title: #000;

// CONTACT FORM BACKGROUND
$container-form-color: linear-gradient(180deg, $nav-bg-color 0%, $site-bg-color 90%);
$fancy-font: 'Bebas Neue', cursive;
