// BG COLOR OF THE WEBSITE
$site-bg-color: #ccc;

// NAVBAR COLORS
$nav-bg-color: #0e79b2;
$shadow: 0 0 10px 0 #000;
$color: #fff;

// BUTTONS IN NAVBAR COLORS
$btn-color1: #e5dc15;
$btn-color2: #c2bb11;
$btn-focus: #000;

// THIRD COLOR OF THE PORTRAIT (1st is $nav-bg-color 2nd is $btn-color1)
$portrait-color: #C850C0;

$sub-title: #000;

// CONTACT FORM BACKGROUND
$container-form-color: linear-gradient(180deg, $nav-bg-color 0%, $site-bg-color 90%);
$fancy-font: 'Bebas Neue', cursive;
